<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/bootstrap.min.css">
<body>
    <header>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/intro">소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tech">기술 소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsletter">뉴스레터</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/webzine">웹진</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inquire">문의하기</a>
            </li>
            {% if user and user.id %}
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">로그아웃</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/auth">로그인</a>
            </li>
            {% endif %}
          </ul>
    </header>
